// custom variables
$nav-link-font-size: 0.8rem;
$font-weight-semibold: 500;
$font-family-sans-serif: "Roboto", sans-serif;
$nav-link-hover-color: #3e61f4;
$navbar-light-active-color: #3e61f4;
$link-hover-color: #3e61f4;
$btn-font-size: .87rem;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
